.products-container{
    width: 70%;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-item{
    list-style: none;
    background-color: #191919;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.product-image img{
    width: 100%;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
}

.title-price{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.item-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 2rem;
}

.cart-icon{
    background-color: #e2b714;
    min-height: 2rem;
    min-width: 2rem;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.cart-icon:hover{
    background-color: #cea511;
}

.icon{
    max-width: 1.5rem;
}